//declaring a variable and saving a value to it
$primaryColor: #1f1f1f;
$secondaryColor: #f6f6f6;
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Abril FatFace', arial;
$headerColor: #345231;
$boxShadow: #709b6b;
$accent: #e4a436;